.header{
    height:85vh;
    width:100%;
    
    background:linear-gradient(to right,rgb(4, 1, 20),rgba(192, 83, 83, 0.1)),url(https://images.unsplash.com/photo-1520583457224-aee11bad5112?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=401&q=80);
    background-size:cover;

    color:white;
}
.h-100{
    height:100%;
    width:100%;

}
body{
    font-family: 'Dancing Script', cursive;
}
.btn
{
    border-radius: 10rem !important;

}
.message
{
    background:linear-gradient(to right,rgb(41, 204, 233),rgba(29, 58, 121, 0.1))
}
.myicon{
    font-size: 60px;
    padding: 20px;
}
.messag
{
    background:linear-gradient(to right,rgb(110, 44, 148),rgba(29, 58, 121, 0.1))
}